*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
   background-image: url(./fondo.jpg);
   background-size: 100%;
}

header{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
header h1{
    text-align: center;
    font-size: 4rem;
    text-shadow: 4px -2px 3px #A4A4A4;
}

header p{
    text-align: center;
    font-size: 3rem;
    text-shadow: 4px -2px 3px #A4A4A4;
}

.central{
    display: flex;
    justify-content: space-around;
}
.cuadrado{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    height: 15rem;
    width: 40rem;
    border-radius: 5%;
    margin: 0.5rem 2.5rem;
    box-shadow: 6px 3px 11px 0px rgba(0,0,0,0.35);
}

.cuadrado h2{
    text-align: center;
    font-size: 1.3rem;
}
.cuadrado h5{
    text-align: center;
    font-size: 1rem;
}

#inputCuadrado{
    display: flex;
    width: 35rem;
    margin: 0.9rem;
    font-size: 1.5rem;
    
}

#boton{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 1.5rem 25%;
    border-radius: 5px;
    font-size: 1.5rem;
}

.triangulo{
    display: flex;
    background-color: rgb(255, 127, 127);
    height: 15rem;
    width: 50rem;
    border-radius: 5%;
    margin: 0.5rem 2.5rem;
    box-shadow: 6px 3px 11px 0px rgba(0,0,0,0.35);
}

.triangulo h2{
    text-align: center;
    font-size: 1.3rem;
}
.triangulo h5{
    text-align: center;
    font-size: 1rem;
}
<<<<<<< HEAD

#inputTrianguloLadoA{
    font-size: 1rem;
    border-radius: 5px;
}
=======
>>>>>>> 0760bcb9830d5ae676ee3aa7081d106baafb143d
